@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;800&display=swap");
:root {
    --color-white: 255, 255, 255;
    --color-light-grey: 188, 190, 220;
}

/* General */
* {
    box-sizing: border-box;
}
body {
    font-family: Overpass, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

.no-poster {
    position: relative;
    background-color: #dbdbdb;
    width: 150px;
    max-height: 225px;
    height: 100%;
    margin-bottom: 4px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.no-poster:before {
    content: url("../images/no-img.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
/* Header */
header {
    background: #2b2d42;
}
nav,
nav .nav-left {
    display: flex;
    align-items: center;
}
nav {
    justify-content: space-between;
    padding: 1.5rem 0;
}
nav img {
    max-width: 50px;
    transition: 1s;
}
nav img,
nav img:focus {
    outline: 0;
}
nav img:hover {
    transform: rotate(360deg);
}
nav a {
    margin-right: 2.5rem;
    color: rgb(var(--color-light-grey));
    text-decoration: none;
}
nav a.active-link {
    margin-right: 2.5rem;
    color: rgb(var(--color-white));
    text-decoration: none;
}
nav .nav-right a:last-of-type {
    margin-right: 0;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
main.container {
    margin-bottom: 4rem;
}
/* Home */
.container section {
    margin-top: 4rem;
}
.container section .section-header {
    display: flex;
    align-items: center;
}
.container section h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 2rem;
}

.selector-wrap {
    border-radius: 30px;
    border: 2px solid #2b2d42;
}
.selector-wrap button {
    width: 125px;
    border-radius: 30px;
    padding: 0.5rem 2rem;
    background: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
}
.selector-wrap button.selected {
    background: #2b2d42;
    color: #fff;
}
/* list */
.list {
    display: flex;
    overflow-x: scroll;
    padding: 2rem 0;
    min-height: 376px;
    transition: opacity ease-in-out;
}

.fade-out {
    opacity: 0;
    transition-duration: 1s;
}
.fade-in {
    opacity: 1;
    transition-duration: 1s;
}

.list .item {
    max-width: 150px;
    margin-right: 2rem;
}
.list .item img {
    max-width: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.list .item-content {
    position: relative;
    padding: 2rem 0.5rem 0;
}

.list .item-content .CircularProgressbar {
    max-width: 35px;
    position: absolute;
    top: -20px;
}
.list .item-content .CircularProgressbar text {
    font-size: 42px;
    font-weight: bold;
    dominant-baseline: mathematical;
}

.list .title a {
    display: block;
    color: #000;
    text-decoration: none;
    font-weight: 800;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list .date {
    margin-top: 0.3rem;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
}

#trending {
    background-image: url("../images/trending-bg.svg");
    background-position: 50% 150px;
    background-size: 1300px;
    background-repeat: no-repeat;
}
