@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;800&display=swap");

:root {
    --color-white: 255, 255, 255;
    --color-light-grey: 188, 190, 220;
    --background-blue: 43, 45, 66;
}

/* General */
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: Overpass, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

.no-poster {
    position: relative;
    background-color: #dbdbdb;
    width: 150px;
    max-height: 225px;
    height: 100%;
    margin-bottom: 4px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.no-poster:before {
    content: url("../images/no-img.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
/* Header */
header {
    background: rgb(var(--background-blue));
}
nav,
nav .nav-left {
    display: flex;
    align-items: center;
}
nav {
    justify-content: space-between;
    padding: 1.5rem 0;
}
nav img {
    max-width: 50px;
    transition: 1s;
}
nav img,
nav img:focus {
    outline: 0;
}
nav img:hover {
    transform: rotate(360deg);
}
nav a {
    margin-right: 2.5rem;
    color: rgb(var(--color-light-grey));
}
nav a.active-link {
    margin-right: 2.5rem;
    color: rgb(var(--color-white));
}
nav .nav-right svg {
    fill: rgb(var(--color-light-grey));
    cursor: pointer;
}

/* search bar */
.search-bar {
    position: absolute;
    top: 102px;
    left: 0;
    width: 100%;
    border-top: 1px solid rgba(var(--color-light-grey), 1);
    border-bottom: 1px solid rgba(var(--color-light-grey), 1);
    background: rgb(var(--color-white));
    z-index: 999;
}
.close-search,
.hide-result {
    display: none;
}
.search-bar form {
    position: relative;
}
.search-bar form > svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.search-bar form > svg:last-of-type {
    cursor: pointer;
}
.search-bar form > svg:first-of-type {
    margin-left: -0.5rem;
}
.search-bar form #search-input {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
}
.search-bar form #search-input::placeholder {
    font-size: 1.1rem;
}
.search-bar form #search-input,
.search-bar form #search-input:focus {
    border: none;
    outline: 0;
}
.searchbar-results {
    background: rgb(var(--color-white));
}
.searchbar-results li:hover {
    background-color: #f2f2f2;
}
.searchbar-results li:not(:last-of-type) {
    border-bottom: 1px solid rgba(var(--color-light-grey), 1);
}
.searchbar-results li:first-of-type {
    border-top: 1px solid rgba(var(--color-light-grey), 1);
}
.searchbar-results li a {
    padding: 0.3rem 0;
    display: block;
    font-size: 0.9rem;
    color: #212529;
    letter-spacing: normal;
    line-height: normal;
}
.searchbar-results li a p {
    margin-left: 1rem;
}
.searchbar-results li a div {
    display: flex;
    align-items: center;
}
.searchbar-results li a svg {
    margin-left: -1rem;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}
main.container {
    margin-bottom: 4rem;
}
/* Home */
.container section {
    margin-top: 4rem;
}
.container section .section-header {
    display: flex;
    align-items: center;
}
.container section h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 2rem;
}

.selector-wrap {
    border-radius: 30px;
    border: 2px solid rgb(var(--background-blue));
}
.selector-wrap button {
    width: 125px;
    border-radius: 30px;
    padding: 0.5rem 2rem;
    background: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
}
.selector-wrap button.selected {
    background: rgb(var(--background-blue));
    color: #fff;
}
/* list */
.list {
    display: flex;
    overflow-x: scroll;
    padding: 2rem 0;
    min-height: 376px;
    transition: opacity ease-in-out;
}

.fade-out {
    opacity: 0;
    transition-duration: 1s;
}
.fade-in {
    opacity: 1;
    transition-duration: 1s;
}

.list .item {
    max-width: 150px;
    margin-right: 2rem;
}
.list .item img {
    max-width: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.list .item-content {
    position: relative;
    padding: 2rem 0.5rem 0;
}

.list .item-content .CircularProgressbar {
    max-width: 35px;
    position: absolute;
    top: -20px;
    background: rgb(8, 28, 34);
    border-radius: 100%;
    padding: 2px;
}
.CircularProgressbar text {
    font-size: 2.5rem !important;
    font-weight: bold;
    dominant-baseline: mathematical !important;
}

.list .title a {
    display: block;
    color: #000;
    font-weight: 800;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list .date {
    margin-top: 0.3rem;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
}

#trending {
    background-image: url("../images/trending-bg.svg");
    background-position: 50% 150px;
    background-size: 1300px;
    background-repeat: no-repeat;
}

/* Single */

/* LEFT HEADER */
.header-single {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right -200px top;
}
.header-single .header-filter {
    background-image: linear-gradient(to right, rgba(12.94%, 14.9%, 22.75%, 1) 150px, rgba(20.39%, 22.35%, 29.02%, 0.84) 100%);
}
.header-wrapper {
    padding: 2rem 2.5rem;
    display: flex;
    align-items: center;
}
.header-wrapper .poster {
    max-height: 450px;
}
.header-wrapper .poster .no-poster {
    height: 450px;
    max-height: 450px;
    width: 300px;
}
.header-wrapper .poster img {
    border-radius: 10px;
}

/* RIGHT HEADER */

/* TITLE */
.header-wrapper .header-infos {
    padding-left: 2.5rem;
}
.header-wrapper .header-infos .title {
    margin-bottom: 1rem;
}
.header-wrapper .header-infos .title * {
    color: rgb(var(--color-white));
}
.header-wrapper .header-infos .title h2,
.header-wrapper .header-infos .title h2 a {
    font-size: 2.2rem;
    line-height: normal;
}
.header-wrapper .header-infos .title h2 a {
    font-weight: 700;
}
.header-wrapper .header-infos .title h2 .release-date {
    display: inline-block;
    margin-left: 5px;
    opacity: 0.8;
    font-weight: 400;
}
.header-wrapper .header-infos .title .facts > span {
    display: inline-block;
    margin-right: 1rem;
}
.header-wrapper .header-infos .title .facts .certification {
    border: 1px solid rgba(100%, 100%, 100%, 0.6);
    color: rgba(100%, 100%, 100%, 0.6);
    padding: 4px 4px 0.06em 4px;
    line-height: 1;
    border-radius: 2px;
}
.header-wrapper .header-infos .title .facts .genres a {
    display: inline-block;
}
.header-wrapper .header-infos .title .facts .runtime,
.header-wrapper .header-infos .title .facts .releases {
    position: relative;
}
.header-wrapper .header-infos .title .facts .runtime::before,
.header-wrapper .header-infos .title .facts .releases::before {
    font-size: 1.1em;
    line-height: 1;
    content: "\2022";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2px;
    left: -12px;
    display: inline-flex;
    align-content: center;
    align-items: center;
}
.header-wrapper .header-infos .title .facts .releases::before {
    left: 100%;
    margin-left: 5px;
}

/* Score Trailer */
.header-wrapper .chart .CircularProgressbar {
    max-width: 68px;
    background: rgb(8, 28, 34);
    border-radius: 100%;
    padding: 4px;
}

.header-wrapper .score-trailer {
    margin-bottom: 1.2rem;
}
.header-wrapper .score-trailer,
.header-wrapper .score-trailer .chart {
    display: flex;
    align-items: center;
}
.header-wrapper .score-trailer * {
    color: rgb(var(--color-white));
    font-size: 1rem;
    font-weight: 600;
}
.header-wrapper .score-trailer .chart > p {
    margin-left: 0.5rem;
    margin-right: 1rem;
}
.header-wrapper .score-trailer .video button {
    display: flex;
    align-items: center;
}
.header-wrapper .score-trailer .video button svg {
    margin-right: 10px;
}

/* Overview */
.header-infos .overview * {
    color: rgb(var(--color-white));
}
.header-infos .overview h3.tagline {
    font-size: 1rem;
    opacity: 0.7;
    font-weight: 400;
    font-style: italic;
}
.header-infos .overview h3.title-overview {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 15px;
}
.header-infos .overview .header-infos .overview-text p {
    line-height: normal;
}

.header-infos .overview ol.creator {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}
.header-infos .overview ol.creator li {
    width: 33%;
    margin-bottom: 1.5rem;
}
.header-infos .overview ol.creator li a {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
}
.header-infos .overview ol.creator li .character {
    font-size: 0.8em;
}

/* search page - filter */
.search-page {
    display: flex;
    align-items: flex-start;
    margin-top: 3rem;
}
.search-page .filter {
    min-width: 260px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 8px;
}
.search-page .filter h3 {
    padding: 20px;
    margin-bottom: 10px;
    color: rgb(var(--color-white));
    font-size: 1.2rem;
    font-weight: 600;
    background: rgb(1, 188, 228);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.search-page .filter a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    color: #000;
}
.search-page .filter a span {
    font-size: 0.8em;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 0px 10px;
    border-radius: 8px;
}
.search-page .filter a.active-search-type {
    background: rgba(0, 0, 0, 0.08);
    font-weight: 600;
}
.search-page .filter a.active-search-type span {
    background-color: #fff;
    color: #000;
}

/* search page - Search results*/
.search-page .search-results {
    padding-left: 2rem;
    margin-bottom: 2rem;
}
.search-page .search-results .search-results-item {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(227, 227, 227, 1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.search-page .search-results .search-results-item .image {
    max-height: 141px;
}
.search-page .search-results .search-results-item .details {
    padding: 10px 30px 10px 15px;
}
.search-page .search-results .search-results-item .details > a {
    display: inline-block;
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
}
.search-page .search-results .search-results-item .release-date {
    display: block;
    color: #999;
    font-size: 0.9rem;
    margin-top: 3px;
}
.search-page .search-results .search-results-item .overview {
    margin-top: 1rem;
}
.search-page .search-results .search-results-item .overview p {
    font-size: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}
.search-page .search-results .search-results-item .no-poster {
    width: 94px;
    height: 141px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* MODAL VIDEO */
@keyframes modal-video {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-video-inner {
    from {
        transform: translate(0, 100px);
    }
    to {
        transform: translate(0, 0);
    }
}

.modal-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
    cursor: pointer;
    opacity: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.modal-video-effect-exit {
    opacity: 0;
}

.modal-video-effect-exit .modal-video-movie-wrap {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
}

.modal-video-body {
    max-width: 940px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table;
}

.modal-video-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.modal-video-movie-wrap {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    background-color: #333;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video-inner;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal-video-movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-video-close-btn {
    position: absolute;
    z-index: 2;
    top: -35px;
    right: -35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: none;
    background: transparent;
}

.modal-video-close-btn:before {
    transform: rotate(45deg);
}

.modal-video-close-btn:after {
    transform: rotate(-45deg);
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    border-radius: 5px;
    margin-top: -6px;
}
.btn-modal {
    background: transparent;
    border: none;
    cursor: pointer;
}
.btn-modal,
.btn-modal:focus {
    outline: 0;
}
.btn-modal svg {
    fill: rgb(var(--color-white));
}
